* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #483d8b;
    font-family: monospace;
}

.header {
    font-size: 10rem;
    text-align: center;
}

.play {
    font-size: 5rem;
    text-align: center;
    margin-top: 6rem;
}

.play:hover {
    cursor: pointer;
}

.field {
    display: none;
    height: 30rem;
    width: 30rem;
    grid-template-columns: auto auto auto;
    background-color: #7469b8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: .2rem solid black;
}

#s1, #s2, #s3, #s4, #s5, #s6 {
    border-bottom: .2rem solid black;
}

#s1, #s2, #s4, #s5, #s7, #s8 {
    border-right: .2rem solid black;
}